<div class="container">
  <div class="flex justify-center items-center mt-5">
    <h1 class="text-3xl text-black">Login</h1>
  </div>
  <div class="mb-3">
    <label for="emailInput" class="form-label text-black">Email Address</label>
    <input [(ngModel)]="email" type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label text-black">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
  </div>
  <div class="mb-3">
    <button (click)="doLogin()" class="btn btn-primary">Login</button>
  </div>
  <div class="mb-3">
    <button (click)="doGoogleLogin()" class="btn btn-outline-primary">Login with Google</button>
  </div>
</div>
