<div class="container">
  <div class="flex justify-center items-center mt-3">
    <img ngSrc="favicon.ico" width="200" height="65" alt="Logo"/>
  </div>
  <div class="row mt-3 animate__animated animate__fadeIn">
    <ngb-alert [dismissible]="false">
      <p class="flex justify-center items-center text-3xl">Welcome to Jenkify!</p>
      <p class="flex justify-center items-center">You need to create an account and be logged in to use this website.</p>
      <p class="flex justify-center items-center">The register and login buttons are in the top right corner.</p>
    </ngb-alert>
  </div>
</div>
