<div class="flex-none flex align-items-center justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 animate__animated animate__zoomInDown">
    <div class="text-center mb-5">
      <img alt="Image" class="mb-3" height="50" ngSrc="assets/favicon.ico" width="50">
      <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
      <span class="text-600 font-medium line-height-3">Already have an account?</span>
      <a [routerLink]="rebaseRoutePath(RoutePath.LOGIN)"
         class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Sign In</a>
    </div>
    <div>
      <form (ngSubmit)="doRegister()">
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="email" class="w-full" id="emailInput" name="email"
                 placeholder="user@example.com" type="email"/>
        </p-inputGroup>
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-pencil"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="firstName" class="w-full" id="firstNameInput" name="firstName"
                 placeholder="First Name" type="text"/>
        </p-inputGroup>
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-pencil"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="lastName" class="w-full" id="lastNameInput" name="lastName"
                 placeholder="Last Name" type="text"/>
        </p-inputGroup>
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-ellipsis-h"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="password" class="w-full" id="passwordInput" name="password"
                 placeholder="Password" type="password"/>
        </p-inputGroup>
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-ellipsis-h"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="confirmPassword" class="w-full" id="confirmPasswordInput" name="confirmPassword"
                 placeholder="Confirm Password" type="password"/>
        </p-inputGroup>
        <div class="card flex justify-content-center text-center">
          <p-checkbox [(ngModel)]="isAcceptTermsAndConditions" [binary]="true" [ngModelOptions]="{standalone: true}" class="px-2"></p-checkbox>
          Accept&nbsp;<a class="underline italic" href="https://github.com/jonathan-lee-devel/roomyledger.com/blob/main/LICENSE"
                    target="_blank">Terms
          and Conditions</a>
        </div>
        <div class="text-center mb-5">
          <span class="text-600 font-medium line-height-3">Forgot password?</span>
          <a [routerLink]="rebaseRoutePath(RoutePath.RESET_PASSWORD)"
             class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Reset Password</a>
        </div>
        <div class="flex justify-center items-center text-center my-3">
          <p-button class="w-full" icon="pi pi-user" label="Sign Up" pRipple type="submit"/>
        </div>
      </form>
      <div class="flex justify-center items-center text-center my-5">
        <p-button (click)="doGoogleLogin()" class="w-full" icon="pi pi-google" label="Sign Up With Google" pRipple/>
      </div>
    </div>
  </div>
</div>
