<div class="flex-none flex align-items-center justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 animate__animated animate__zoomInDown">
    <div class="text-center mb-5">
      <img alt="Image" class="mb-3" height="50" ngSrc="assets/favicon.ico" width="50">
      <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a [routerLink]="rebaseRoutePath(RoutePath.REGISTER)"
         class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>
    <div>
      <form (ngSubmit)="doSendPasswordResetRequest()">
        <p-inputGroup class="my-4">
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="email" class="w-full" id="emailInput" name="email"
                 placeholder="user@example.com" type="email"/>
        </p-inputGroup>
        <div class="text-center mb-5">
          <span class="text-600 font-medium line-height-3">Remembered your password?</span>
          <a [routerLink]="rebaseRoutePath(RoutePath.LOGIN)"
             class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Sign In</a>
        </div>
        <div class="flex justify-center items-center text-center my-3">
          <p-button class="w-full" icon="pi pi-at" label="Reset Password" pRipple type="submit"/>
        </div>
      </form>
    </div>
  </div>
</div>
